In [7]:
import pandas as pd
import pymongo

In [8]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.sportsDB

In [6]:
df = pd.read_json("mlb_stadium.json")
df = df.drop(columns='address')
df = df.rename(columns={'lat': 'LAT', 'lng': 'LNG', 'team': 'TEAM'})
df

          LAT         LNG                   TEAM
0   33.799572 -117.889031         Anaheim Angels
1   33.452922 -112.038669   Arizona Diamondbacks
2   33.746910  -84.391239         Atlanta Braves
3   39.285243  -76.620103      Baltimore Orioles
4   42.346613  -71.098817         Boston Red Sox
5   41.947201  -87.656413           Chicago Cubs
6   41.830883  -87.635083      Chicago White Sox
7   39.107183  -84.507713        Cincinnati Reds
8   41.495149  -81.687090      Cleveland Indians
9   39.756980 -104.965329       Colorado Rockies
10  42.346354  -83.059619         Detroit Tigers
11  25.954428  -80.238164        Florida Marlins
12  29.760450  -95.369784         Houston Astros
13  39.102220  -94.583559     Kansas City Royals
14  34.072437 -118.246879    Los Angeles Dodgers
15  43.042050  -87.905599      Milwaukee Brewers
16  44.974346  -93.259616        Minnesota Twins
17  38.870000  -77.010000   Washington Nationals
18  40.755350  -73.843219          New York Mets
19  40.819782  -73.929939       New York Yankees
20  37.749230 -122.196487      Oakland Athletics
21  39.952313  -75.162392  Philadelphia Phillies
22  40.461503  -80.008924     Pittsburgh Pirates
23  38.629683  -90.188247    St. Louis Cardinals
24  32.752148 -117.143635       San Diego Padres
25  37.779870 -122.389754   San Francisco Giants
26  47.601740 -122.330829       Seattle Mariners
27  27.768487  -82.648191   Tampa Bay Devil Rays
28  32.750156  -97.081117          Texas Rangers
29  43.641653  -79.391700      Toronto Blue Jays

In [9]:
df_dict = df.to_dict(orient='records')
df_dict

[{'LAT': 33.799572, 'LNG': -117.889031, 'TEAM': 'Anaheim Angels'},
 {'LAT': 33.452922, 'LNG': -112.038669, 'TEAM': 'Arizona Diamondbacks'},
 {'LAT': 33.74691, 'LNG': -84.391239, 'TEAM': 'Atlanta Braves'},
 {'LAT': 39.285243, 'LNG': -76.620103, 'TEAM': 'Baltimore Orioles'},
 {'LAT': 42.346613, 'LNG': -71.098817, 'TEAM': 'Boston Red Sox'},
 {'LAT': 41.947201, 'LNG': -87.656413, 'TEAM': 'Chicago Cubs'},
 {'LAT': 41.830883, 'LNG': -87.635083, 'TEAM': 'Chicago White Sox'},
 {'LAT': 39.107183, 'LNG': -84.507713, 'TEAM': 'Cincinnati Reds'},
 {'LAT': 41.495149, 'LNG': -81.68709, 'TEAM': 'Cleveland Indians'},
 {'LAT': 39.75698, 'LNG': -104.965329, 'TEAM': 'Colorado Rockies'},
 {'LAT': 42.346354, 'LNG': -83.059619, 'TEAM': 'Detroit Tigers'},
 {'LAT': 25.954428, 'LNG': -80.238164, 'TEAM': 'Florida Marlins'},
 {'LAT': 29.76045, 'LNG': -95.369784, 'TEAM': 'Houston Astros'},
 {'LAT': 39.10222, 'LNG': -94.583559, 'TEAM': 'Kansas City Royals'},
 {'LAT': 34.072437, 'LNG': -118.246879, 'TEAM': 'Los Angeles Dodgers'},
 {'LAT': 43.04205, 'LNG': -87.905599, 'TEAM': 'Milwaukee Brewers'},
 {'LAT': 44.974346, 'LNG': -93.259616, 'TEAM': 'Minnesota Twins'},
 {'LAT': 38.87, 'LNG': -77.01, 'TEAM': 'Washington Nationals'},
 {'LAT': 40.75535, 'LNG': -73.843219, 'TEAM': 'New York Mets'},
 {'LAT': 40.819782000000004, 'LNG': -73.929939, 'TEAM': 'New York Yankees'},
 {'LAT': 37.74923, 'LNG': -122.196487, 'TEAM': 'Oakland Athletics'},
 {'LAT': 39.952313, 'LNG': -75.162392, 'TEAM': 'Philadelphia Phillies'},
 {'LAT': 40.461503, 'LNG': -80.008924, 'TEAM': 'Pittsburgh Pirates'},
 {'LAT': 38.629683, 'LNG': -90.188247, 'TEAM': 'St. Louis Cardinals'},
 {'LAT': 32.752148, 'LNG': -117.143635, 'TEAM': 'San Diego Padres'},
 {'LAT': 37.77987, 'LNG': -122.389754, 'TEAM': 'San Francisco Giants'},
 {'LAT': 47.60174, 'LNG': -122.330829, 'TEAM': 'Seattle Mariners'},
 {'LAT': 27.768487, 'LNG': -82.648191, 'TEAM': 'Tampa Bay Devil Rays'},
 {'LAT': 32.750156, 'LNG': -97.081117, 'TEAM': 'Texas Rangers'},
 {'LAT': 43.641653, 'LNG': -79.3917, 'TEAM': 'Toronto Blue Jays'}]

In [10]:
coll = db.mlbcoords
coll2 = db.mlbiconcoords

In [11]:
coll.remove()
coll2.remove()

C:\Users\Will\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  """Entry point for launching an IPython kernel.
C:\Users\Will\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

{'n': 0, 'ok': 1.0}

In [12]:
for record in df_dict:
    coll.insert_one(record)
    coll2.insert_one(record)