In [1]:
import pandas as pd
import pymongo

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.sportsDB

In [4]:
coords_df = pd.read_csv('Stadium_Locations.csv')
coords_df

               TEAM NAME                    ref      LAT      LONG Unnamed: 4
0      Arizona Cardinals      Arizona Cardinals  33.2700 -112.0500        NaN
1        Atlanta Falcons        Atlanta Falcons  33.4500  -84.2300        NaN
2       Baltimore Ravens       Baltimore Ravens  39.1700  -76.3700        NaN
3          Buffalo Bills          Buffalo Bills  42.5400  -78.5300        NaN
4      Carolina Panthers      Carolina Panthers  35.1400  -80.5000        NaN
5          Chicago Bears          Chicago Bears  41.5300  -87.3800        NaN
6     Cincinnati Bengals     Cincinnati Bengals  39.0600  -84.3100        NaN
7       Cleveland Browns       Cleveland Browns  41.3000  -81.4100        NaN
8         Dallas Cowboys         Dallas Cowboys  32.4700  -96.4800        NaN
9         Denver Broncos         Denver Broncos  39.4300 -105.0100        NaN
10         Detroit Lions          Detroit Lions  42.2000  -83.0300        NaN
11     Green Bay Packers      Green Bay Packers  44.3000  -88.0100        NaN
12        Houston Texans         Houston Texans  29.4600  -95.2200        NaN
13    Indianapolis Colts     Indianapolis Colts  39.4600  -86.0900        NaN
14  Jacksonville Jaguars   Jacksonville Jaguars  30.2000  -81.4000        NaN
15    Kansas City Chiefs     Kansas City Chiefs  39.0600  -94.3700        NaN
16  Los Angeles Chargers   Los Angeles Chargers  33.8644 -118.2611        Los
17      Los Angeles Rams       Los Angeles Rams  34.0141 -118.2879        Los
18        Miami Dolphins         Miami Dolphins  25.4600  -80.1200        NaN
19     Minnesota Vikings      Minnesota Vikings  44.5900  -93.1300        NaN
20  New England Patriots   New England Patriots  42.2100  -71.0400        NaN
21    New Orleans Saints     New Orleans Saints  29.5800  -90.0700        NaN
22       New York Giants        New York Giants  40.4300  -74.0100        NaN
23         New York Jets          New York Jets  40.4300  -74.0100        NaN
24       Oakland Raiders        Oakland Raiders  37.4700 -122.1300        NaN
25   Philadelphia Eagles    Philadelphia Eagles  39.5700  -75.0700        NaN
26   Pittsburgh Steelers    Pittsburgh Steelers  40.2600  -80.0000        NaN
27      Seattle Seahawks       Seattle Seahawks  47.3600 -122.2000        NaN
28   San Francisco 49ers    San Francisco 49ers  37.4026 -121.9694        NaN
29  Tampa Bay Buccaneers   Tampa Bay Buccaneers  27.5700  -82.2700        NaN
30      Tennessee Titans       Tennessee Titans  36.0900  -86.4800        NaN
31   Washington Redskins    Washington Redskins  38.5400  -77.0100        NaN

In [5]:
coords_dict = coords_df.to_dict(orient='records')
coords_dict

[{'TEAM NAME': 'Arizona Cardinals',
  'ref': ' Arizona Cardinals',
  'LAT': 33.27,
  'LONG': -112.05,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Atlanta Falcons',
  'ref': ' Atlanta Falcons',
  'LAT': 33.45,
  'LONG': -84.23,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Baltimore Ravens',
  'ref': ' Baltimore Ravens',
  'LAT': 39.17,
  'LONG': -76.37,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Buffalo Bills',
  'ref': ' Buffalo Bills',
  'LAT': 42.54,
  'LONG': -78.53,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Carolina Panthers',
  'ref': ' Carolina Panthers',
  'LAT': 35.14,
  'LONG': -80.5,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Chicago Bears',
  'ref': ' Chicago Bears',
  'LAT': 41.53,
  'LONG': -87.38,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Cincinnati Bengals',
  'ref': ' Cincinnati Bengals',
  'LAT': 39.06,
  'LONG': -84.31,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Cleveland Browns',
  'ref': ' Cleveland Browns',
  'LAT': 41.3,
  'LONG': -81.41,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Dallas Cowboys',
  'ref': ' Dallas Cowboys',
  'LAT': 32.47,
  'LONG': -96.48,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Denver Broncos',
  'ref': ' Denver Broncos',
  'LAT': 39.43,
  'LONG': -105.01,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Detroit Lions',
  'ref': ' Detroit Lions',
  'LAT': 42.2,
  'LONG': -83.03,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Green Bay Packers',
  'ref': ' Green Bay Packers',
  'LAT': 44.3,
  'LONG': -88.01,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Houston Texans',
  'ref': ' Houston Texans',
  'LAT': 29.46,
  'LONG': -95.22,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Indianapolis Colts',
  'ref': ' Indianapolis Colts',
  'LAT': 39.46,
  'LONG': -86.09,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Jacksonville Jaguars',
  'ref': ' Jacksonville Jaguars',
  'LAT': 30.2,
  'LONG': -81.4,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Kansas City Chiefs',
  'ref': ' Kansas City Chiefs',
  'LAT': 39.06,
  'LONG': -94.37,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Los Angeles Chargers',
  'ref': 'Los Angeles Chargers',
  'LAT': 33.8644,
  'LONG': -118.2611,
  'Unnamed: 4': 'Los'},
 {'TEAM NAME': 'Los Angeles Rams',
  'ref': 'Los Angeles Rams',
  'LAT': 34.0141,
  'LONG': -118.2879,
  'Unnamed: 4': 'Los'},
 {'TEAM NAME': 'Miami Dolphins',
  'ref': ' Miami Dolphins',
  'LAT': 25.46,
  'LONG': -80.12,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Minnesota Vikings',
  'ref': ' Minnesota Vikings',
  'LAT': 44.59,
  'LONG': -93.13,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'New England Patriots',
  'ref': ' New England Patriots',
  'LAT': 42.21,
  'LONG': -71.04,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'New Orleans Saints',
  'ref': ' New Orleans Saints',
  'LAT': 29.58,
  'LONG': -90.07,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'New York Giants',
  'ref': ' New York Giants',
  'LAT': 40.43,
  'LONG': -74.01,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'New York Jets',
  'ref': ' New York Jets',
  'LAT': 40.43,
  'LONG': -74.01,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Oakland Raiders',
  'ref': ' Oakland Raiders',
  'LAT': 37.47,
  'LONG': -122.13,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Philadelphia Eagles',
  'ref': ' Philadelphia Eagles',
  'LAT': 39.57,
  'LONG': -75.07,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Pittsburgh Steelers',
  'ref': ' Pittsburgh Steelers',
  'LAT': 40.26,
  'LONG': -80.0,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Seattle Seahawks',
  'ref': ' Seattle Seahawks',
  'LAT': 47.36,
  'LONG': -122.2,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'San Francisco 49ers',
  'ref': ' San Francisco 49ers',
  'LAT': 37.4026,
  'LONG': -121.9694,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Tampa Bay Buccaneers',
  'ref': ' Tampa Bay Buccaneers',
  'LAT': 27.57,
  'LONG': -82.27,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Tennessee Titans',
  'ref': 'Tennessee Titans',
  'LAT': 36.09,
  'LONG': -86.48,
  'Unnamed: 4': nan},
 {'TEAM NAME': 'Washington Redskins',
  'ref': ' Washington Redskins',
  'LAT': 38.54,
  'LONG': -77.01,
  'Unnamed: 4': nan}]

In [7]:
coll = db.nflcoords
coll2 = db.nfliconcoords

In [8]:
coll.insert(coords_dict)

C:\Users\Will\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

[ObjectId('5c77539a99fad20be0ec4b67'),
 ObjectId('5c77539a99fad20be0ec4b68'),
 ObjectId('5c77539a99fad20be0ec4b69'),
 ObjectId('5c77539a99fad20be0ec4b6a'),
 ObjectId('5c77539a99fad20be0ec4b6b'),
 ObjectId('5c77539a99fad20be0ec4b6c'),
 ObjectId('5c77539a99fad20be0ec4b6d'),
 ObjectId('5c77539a99fad20be0ec4b6e'),
 ObjectId('5c77539a99fad20be0ec4b6f'),
 ObjectId('5c77539a99fad20be0ec4b70'),
 ObjectId('5c77539a99fad20be0ec4b71'),
 ObjectId('5c77539a99fad20be0ec4b72'),
 ObjectId('5c77539a99fad20be0ec4b73'),
 ObjectId('5c77539a99fad20be0ec4b74'),
 ObjectId('5c77539a99fad20be0ec4b75'),
 ObjectId('5c77539a99fad20be0ec4b76'),
 ObjectId('5c77539a99fad20be0ec4b77'),
 ObjectId('5c77539a99fad20be0ec4b78'),
 ObjectId('5c77539a99fad20be0ec4b79'),
 ObjectId('5c77539a99fad20be0ec4b7a'),
 ObjectId('5c77539a99fad20be0ec4b7b'),
 ObjectId('5c77539a99fad20be0ec4b7c'),
 ObjectId('5c77539a99fad20be0ec4b7d'),
 ObjectId('5c77539a99fad20be0ec4b7e'),
 ObjectId('5c77539a99fad20be0ec4b7f'),
 ObjectId('5c77539a99fad20be0ec4b80'),
 ObjectId('5c77539a99fad20be0ec4b81'),
 ObjectId('5c77539a99fad20be0ec4b82'),
 ObjectId('5c77539a99fad20be0ec4b83'),
 ObjectId('5c77539a99fad20be0ec4b84'),
 ObjectId('5c77539a99fad20be0ec4b85'),
 ObjectId('5c77539a99fad20be0ec4b86')]

In [9]:
coll2.insert(coords_dict)

C:\Users\Will\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

[ObjectId('5c77539a99fad20be0ec4b67'),
 ObjectId('5c77539a99fad20be0ec4b68'),
 ObjectId('5c77539a99fad20be0ec4b69'),
 ObjectId('5c77539a99fad20be0ec4b6a'),
 ObjectId('5c77539a99fad20be0ec4b6b'),
 ObjectId('5c77539a99fad20be0ec4b6c'),
 ObjectId('5c77539a99fad20be0ec4b6d'),
 ObjectId('5c77539a99fad20be0ec4b6e'),
 ObjectId('5c77539a99fad20be0ec4b6f'),
 ObjectId('5c77539a99fad20be0ec4b70'),
 ObjectId('5c77539a99fad20be0ec4b71'),
 ObjectId('5c77539a99fad20be0ec4b72'),
 ObjectId('5c77539a99fad20be0ec4b73'),
 ObjectId('5c77539a99fad20be0ec4b74'),
 ObjectId('5c77539a99fad20be0ec4b75'),
 ObjectId('5c77539a99fad20be0ec4b76'),
 ObjectId('5c77539a99fad20be0ec4b77'),
 ObjectId('5c77539a99fad20be0ec4b78'),
 ObjectId('5c77539a99fad20be0ec4b79'),
 ObjectId('5c77539a99fad20be0ec4b7a'),
 ObjectId('5c77539a99fad20be0ec4b7b'),
 ObjectId('5c77539a99fad20be0ec4b7c'),
 ObjectId('5c77539a99fad20be0ec4b7d'),
 ObjectId('5c77539a99fad20be0ec4b7e'),
 ObjectId('5c77539a99fad20be0ec4b7f'),
 ObjectId('5c77539a99fad20be0ec4b80'),
 ObjectId('5c77539a99fad20be0ec4b81'),
 ObjectId('5c77539a99fad20be0ec4b82'),
 ObjectId('5c77539a99fad20be0ec4b83'),
 ObjectId('5c77539a99fad20be0ec4b84'),
 ObjectId('5c77539a99fad20be0ec4b85'),
 ObjectId('5c77539a99fad20be0ec4b86')]